*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #0d0106;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}
#clock{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    width: 600px;
    height: 600px;
    border: 1px solid ghostwhite;
    border-radius: 100%;
    font-size: 42px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 0px 0px  30px 5px navajowhite;
}
#time{
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 82px;
   

}
#week{

    
    font-size: 64px;
    
}
